#number-projects-nd {
    font-size: 30px;
    text-align: center;
}
#total-donations-nd {
    font-size: 30px;
    text-align: center;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

#total-projects {
    background: #33CC99;
    width: 200px;
    position: relative;
    height: 50px;
    font-size: 29px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 0px;
}

#net-donations {
    background: #33CC99;
    width: 200px;
    position: relative;
    height: 50px;
    font-size: 29px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
padding-bottom: 0px;
}

.dc-select-menu {
    background: #990000;
    width: 240px;
    border: none;
    position: relative;
    height: 40px;
    font-size: 25px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 0px;

}