<!DOCTYPE html>
<html>
<head>
    <title >School Donations Dashboard</title >
    <link rel="stylesheet" href="../static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/lib/css/keen-dashboards.css">
    <link rel="stylesheet" href="../static/lib/css/dc.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="../static/lib/css/introjs.css" />
</head>

<body class="application">


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../">School Donations Dashboard</a>
        </div>
        <div align="center">
            <button class="btn-info" type="button" autofocus onclick="javascript:introJs().start();">Take our tour of the graphs below!</button>
        </div>
    </div>
</div>



<div id="outer" class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">


            <!-- menu select -->
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title" data-step="1" data-intro="Choose the US state you would like information on by clicking on the drop down."style="font-weight: normal" data-position="right">
                        Donation State
                        </div >
                        <div class="chart-stage">
                            <div id="menu-select"></div>
                        </div>
                    </div>
                </div>
            <!-- menu select -->


            <!-- Metric 2 -->
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title" data-step="2" data-intro="How much money was donated in the state"style="font-weight: normal" data-position="right">
                        Total Donations in USD
                        </div>
                        <div class="chart-stage">
                            <div id="total-donations-nd"></div>
                        </div>
                    </div>
                </div>
            <!-- Metric 2 -->

                    <!-- Metric 1 -->
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title" data-step="3" data-intro="How many individual donations were there in the state."style="font-weight: normal" data-position="right">
                        Total Number of Donations
                        </div>
                        <div class="chart-stage" style=" background: #33CC99;
                            position: relative;
                            font-size: 29px;
                            color: white;
                            vertical-align: middle;
                            text-align: center;
                            padding-top: 12px;
                            padding-bottom: 0px;">
                            <div id="number-projects-nd"></div>
                        </div>
                    </div>
                </div>
            <!-- Metric 1 -->

<!-- Poverty -->
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title" data-step="4" data-intro="What was the level of poverty in the schools that looked for donations?"style="font-weight: normal" data-position="right">
                        Poverty Level
                        </div >
                        <div class="chart-stage" style=" background: #Ffdab9;">
                            <div id="poverty-level-row-chart"></div>
                        </div>
                    </div>
                </div>
            <!-- Poverty -->


            <!-- Grade -->
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title" data-step="5" data-intro="What grades were more/less likely to ask for donations?"style="font-weight: normal" data-position="right">
                        Grade Levels Helped
                        </div >
                        <div class="chart-stage" style=" background: #Ffdab9;">
                            <div id="grade-level-row-chart"></div>
                        </div>
                    </div>
                </div>
            <!-- Grade -->

            <!-- Resources -->
                <div class= "col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title" data-step="6" data-intro="What were the types of resources schools were looking for in that state"style="font-weight: normal" data-position="right">
                        Resources Type
                        </div >
                        <div class="chart-stage" style=" background: #Ffdab9;">
                            <div id="resource-type-row-chart"></div>
                        </div>
                    </div>
                </div>
            <!-- Resources -->

<!-- Time Chart -->
                <div class="col-sm-8">
                    <div class="chart-wrapper">
                        <div class="chart-title" data-step="7" data-intro="You can select a time frame by left-clicking and dragging in the direction of time you want"style="font-weight: normal" data-position="right">
                        Number of Donations
                        </div>
                        <div class="chart-stage">
                            <div id="time-chart"></div>
                        </div>
                    </div>
                </div>
            <!-- Time Chart -->


            <!-- funding Pie -->
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title" data-step="8" data-intro="Check whether the project target was achieved, or if it was re-allocated! (That is the small sliver in the pie)"style="font-weight: normal" data-position="right">
                        Funding Status
                        </div>
                        <div class="chart-stage">
                            <div id="funding-chart"></div>
                        </div>
                    </div>
                </div>
            <!-- funding Pie -->
            </div>
        </div>
    </div>
</div>

<hr>
<p class="small text-muted"> Data viz &#9829; from Code Institute</p>

<script src="../static/lib/js/jquery.min.js"></script>
<script src="../static/lib/js/bootstrap.min.js"></script>
<script src="../static/lib/js/crossfilter.js"></script>
<script src="../static/lib/js/d3.js"></script>
<script src="../static/lib/js/dc.js"></script>
<script src="../static/lib/js/queue.js"></script>
<script src="../static/lib/js/intro.js" type="text/javascript"></script>

<script src="../static/lib/js/keen.min.js"></script>
<script src="../static/js/graph.js" type="text/javascript"></script>
</body>
</html>








